@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Noto Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

input, select {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 420;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: center;
}

*:focus {
    outline:none;
}

button:hover {
  opacity: 0.6;
}

[data-animation=shake] {
  animation: shake var(--animation-duration, 0.5s) ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

[data-animation=pulse] {
  animation: pulse var(--animation-duration, 0.4s) cubic-bezier(0.4, 0, 0.6, 1);
}

@keyframes pulse {
  50% {
    scale: 1.4;
  }
}
